<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thmeleaf.org">

<head>
    <meta charset="UTF-8"/>
</head>

<body>
    <h1>Olá! Thymeleaf configurado</h1>

    <label th:text="${mensagem}"></label>

    <form method="POST">
        <label for="sku">SKU</label>
        <input type="text" id="sku" name="sku"/>
        <br>

        <label for="nome">Nome</label>
        <input type="text" id="nome" name="nome"/>
        <br>

        <label for="descricao">Descricao</label>
        <textarea cols="30" rows="3" id="descricao" name="descricao"></textarea>
        <br>

        <input type="submit" value="salvar"/>


    </form>

</body>

</html>