<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thmeleaf.org">

<head>
    <meta charset="UTF-8"/>
</head>

<body>
    <h1>Olá! Thymeleaf configurado</h1>

    <label th:text="${mensagem}"></label>

    <form method="POST">
        <label>SKU</label>
        <input type="text" name="sku"/>
        <br>
        <label>Nome</label>
        <input type="text" name="nome"/>

        <br>
        <input type="submit" value="salvar"/>

    </form>

</body>

</html>